In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read the dataset

data = pd.read_csv('accident_data.csv')
data.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
features = ['Start_Time','Temperature(F)','Wind_Chill(F)','Humidity(%)','Pressure(in)','Visibility(mi)','Precipitation(in)','Crossing','Junction','Station','Traffic_Signal','Severity']
data = data[features]
data.head()

,Start_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Severity
0,2016-02-08 05:46:00,36.9,NaN,91.0,29.68,10.0,0.02,False,False,False,False,3
1,2016-02-08 06:07:59,37.9,NaN,100.0,29.65,10.0,0.00,False,False,False,False,2
2,2016-02-08 06:49:27,36.0,33.3,100.0,29.67,10.0,NaN,False,False,False,True,2
3,2016-02-08 07:23:34,35.1,31.0,96.0,29.64,9.0,NaN,False,False,False,False,3
4,2016-02-08 07:39:07,36.0,33.3,89.0,29.65,6.0,NaN,False,False,False,True,2

In [4]:
def percent_na(feature):
    na_val = 0
    for val in feature:
        if pd.isna(val):
            na_val += 1
    return na_val/(len(feature))

null_features = []
for feature in features:
    print("%s: %5.4f" % (feature, percent_na(data[feature])))
    if percent_na(data[feature]) > 0:
        null_features.append(feature)

Start_Time: 0.0000
Temperature(F): 0.0212
Wind_Chill(F): 0.2587
Humidity(%): 0.0225
Pressure(in): 0.0182
Visibility(mi): 0.0229
Precipitation(in): 0.2851
Crossing: 0.0000
Junction: 0.0000
Station: 0.0000
Traffic_Signal: 0.0000
Severity: 0.0000

In [5]:
null_features

['Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Precipitation(in)']

In [6]:
def handle_na(feature):
    repl_val = np.mean(data[feature])
    data[feature] = data[feature].replace(np.nan, value = repl_val)
    print("Null values handled for %s" %(feature))
    return

for feature in null_features:
    handle_na(feature)

Null values handled for Temperature(F)
Null values handled for Wind_Chill(F)
Null values handled for Humidity(%)
Null values handled for Pressure(in)
Null values handled for Visibility(mi)
Null values handled for Precipitation(in)

In [7]:
data

,Start_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Severity
0,2016-02-08 05:46:00,36.9,58.251048,91.0,29.68,10.0,0.020000,False,False,False,False,3
1,2016-02-08 06:07:59,37.9,58.251048,100.0,29.65,10.0,0.000000,False,False,False,False,2
2,2016-02-08 06:49:27,36.0,33.300000,100.0,29.67,10.0,0.008407,False,False,False,True,2
3,2016-02-08 07:23:34,35.1,31.000000,96.0,29.64,9.0,0.008407,False,False,False,False,3
4,2016-02-08 07:39:07,36.0,33.300000,89.0,29.65,6.0,0.008407,False,False,False,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,2019-08-23 18:03:25,86.0,86.000000,40.0,28.92,10.0,0.000000,False,False,False,False,2
7728390,2019-08-23 19:11:30,70.0,70.000000,73.0,29.39,10.0,0.000000,False,False,False,False,2
7728391,2019-08-23 19:00:21,73.0,73.000000,64.0,29.74,10.0,0.000000,False,True,False,False,2
7728392,2019-08-23 19:00:21,71.0,71.000000,81.0,29.62,10.0,0.000000,False,False,False,False,2
7728393,2019-08-23 18:52:06,79.0,79.000000,47.0,28.63,7.0,0.000000,False,False,False,False,2

In [8]:
import datetime
from datetime import datetime

def day(x):
    return x.dayofweek

data['Start_Time'] = pd.to_datetime(data['Start_Time'])
data['Day'] = data['Start_Time'].apply(day)
data['Start_Time'] = data['Start_Time'].apply(lambda x: x.time().hour)

In [9]:
data.head()

,Start_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Severity,Day
0,5,36.9,58.251048,91.0,29.68,10.0,0.020000,False,False,False,False,3,0
1,6,37.9,58.251048,100.0,29.65,10.0,0.000000,False,False,False,False,2,0
2,6,36.0,33.300000,100.0,29.67,10.0,0.008407,False,False,False,True,2,0
3,7,35.1,31.000000,96.0,29.64,9.0,0.008407,False,False,False,False,3,0
4,7,36.0,33.300000,89.0,29.65,6.0,0.008407,False,False,False,True,2,0

In [10]:
def set_sev(x):
    if x == 1:
        return "low risk"
    elif x == 2:
        return "medium risk"
    return "high risk"

data['Risk'] = data['Severity'].apply(set_sev)

In [11]:
data.head()

,Start_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Severity,Day,Risk
0,5,36.9,58.251048,91.0,29.68,10.0,0.020000,False,False,False,False,3,0,high risk
1,6,37.9,58.251048,100.0,29.65,10.0,0.000000,False,False,False,False,2,0,medium risk
2,6,36.0,33.300000,100.0,29.67,10.0,0.008407,False,False,False,True,2,0,medium risk
3,7,35.1,31.000000,96.0,29.64,9.0,0.008407,False,False,False,False,3,0,high risk
4,7,36.0,33.300000,89.0,29.65,6.0,0.008407,False,False,False,True,2,0,medium risk

In [12]:
def tod(x):
    '''
    
    Early Morning(6-9): 0
    Morning(9-12): 1
    Afternoon(12-16): 2
    Evening(16-20): 3
    Night(20-6): 4
    
    '''
    if x in range(6,9):
        return 0
    elif x in range(9,12):
        return 1
    elif x in range(12,16):
        return 2
    elif x in range(16,20):
        return 3
    return 4

data.rename(columns = {'Start_Time':'Time_of_Day'}, inplace = True)
data['Time_of_Day'] = data['Time_of_Day'].apply(tod)
data.head()

,Time_of_Day,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Severity,Day,Risk
0,4,36.9,58.251048,91.0,29.68,10.0,0.020000,False,False,False,False,3,0,high risk
1,0,37.9,58.251048,100.0,29.65,10.0,0.000000,False,False,False,False,2,0,medium risk
2,0,36.0,33.300000,100.0,29.67,10.0,0.008407,False,False,False,True,2,0,medium risk
3,0,35.1,31.000000,96.0,29.64,9.0,0.008407,False,False,False,False,3,0,high risk
4,0,36.0,33.300000,89.0,29.65,6.0,0.008407,False,False,False,True,2,0,medium risk

In [13]:
data.describe()

,Time_of_Day,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Severity,Day
count,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06
mean,2.084554e+00,6.166329e+01,5.825105e+01,6.483104e+01,2.953899e+01,9.090376e+00,8.407210e-03,2.212384e+00,2.594364e+00
std,1.398534e+00,1.881102e+01,1.927790e+01,2.256239e+01,9.969900e-01,2.657336e+00,9.319501e-02,4.875313e-01,1.806053e+00
min,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,1.000000e+00,5.000000e+01,5.200000e+01,4.900000e+01,2.938000e+01,1.000000e+01,0.000000e+00,2.000000e+00,1.000000e+00
50%,2.000000e+00,6.300000e+01,5.825105e+01,6.600000e+01,2.985000e+01,1.000000e+01,0.000000e+00,2.000000e+00,3.000000e+00
75%,3.000000e+00,7.600000e+01,7.100000e+01,8.400000e+01,3.003000e+01,1.000000e+01,8.407210e-03,2.000000e+00,4.000000e+00
max,4.000000e+00,2.070000e+02,2.070000e+02,1.000000e+02,5.863000e+01,1.400000e+02,3.647000e+01,4.000000e+00,6.000000e+00

In [14]:
data = data.drop(['Severity'], axis = 1)
data

,Time_of_Day,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Day,Risk
0,4,36.9,58.251048,91.0,29.68,10.0,0.020000,False,False,False,False,0,high risk
1,0,37.9,58.251048,100.0,29.65,10.0,0.000000,False,False,False,False,0,medium risk
2,0,36.0,33.300000,100.0,29.67,10.0,0.008407,False,False,False,True,0,medium risk
3,0,35.1,31.000000,96.0,29.64,9.0,0.008407,False,False,False,False,0,high risk
4,0,36.0,33.300000,89.0,29.65,6.0,0.008407,False,False,False,True,0,medium risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,3,86.0,86.000000,40.0,28.92,10.0,0.000000,False,False,False,False,4,medium risk
7728390,3,70.0,70.000000,73.0,29.39,10.0,0.000000,False,False,False,False,4,medium risk
7728391,3,73.0,73.000000,64.0,29.74,10.0,0.000000,False,True,False,False,4,medium risk
7728392,3,71.0,71.000000,81.0,29.62,10.0,0.000000,False,False,False,False,4,medium risk
7728393,3,79.0,79.000000,47.0,28.63,7.0,0.000000,False,False,False,False,4,medium risk

In [15]:
from imblearn.over_sampling import SMOTE

X=data.drop(['Risk'], axis = 1)
y=data['Risk']

smote = SMOTE(random_state = 42)
X,y = smote.fit_resample(X,y)

In [16]:
X

,Time_of_Day,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Day
0,4,36.900000,58.251048,91.000000,29.680000,10.0,0.020000,False,False,False,False,0
1,0,37.900000,58.251048,100.000000,29.650000,10.0,0.000000,False,False,False,False,0
2,0,36.000000,33.300000,100.000000,29.670000,10.0,0.008407,False,False,False,True,0
3,0,35.100000,31.000000,96.000000,29.640000,9.0,0.008407,False,False,False,False,0
4,0,36.000000,33.300000,89.000000,29.650000,6.0,0.008407,False,False,False,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...
18470938,0,70.000000,70.000000,100.000000,29.646429,10.0,0.000000,False,False,False,False,2
18470939,0,81.000000,81.000000,94.000000,29.954858,10.0,0.000000,True,False,True,True,0
18470940,2,91.000000,91.000000,24.000000,29.761727,10.0,0.000000,False,False,False,True,2
18470941,1,64.000000,64.000000,63.000000,29.459782,10.0,0.000000,False,False,True,True,0
18470942,2,88.150566,58.251048,59.109854,29.971866,10.0,0.008407,False,False,False,False,6

In [17]:
from sklearn.model_selection import train_test_split as tts

X_train,X_test,y_train,y_test = tts(X,y,test_size = 0.4)

In [18]:
data

,Time_of_Day,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Day,Risk
0,4,36.9,58.251048,91.0,29.68,10.0,0.020000,False,False,False,False,0,high risk
1,0,37.9,58.251048,100.0,29.65,10.0,0.000000,False,False,False,False,0,medium risk
2,0,36.0,33.300000,100.0,29.67,10.0,0.008407,False,False,False,True,0,medium risk
3,0,35.1,31.000000,96.0,29.64,9.0,0.008407,False,False,False,False,0,high risk
4,0,36.0,33.300000,89.0,29.65,6.0,0.008407,False,False,False,True,0,medium risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,3,86.0,86.000000,40.0,28.92,10.0,0.000000,False,False,False,False,4,medium risk
7728390,3,70.0,70.000000,73.0,29.39,10.0,0.000000,False,False,False,False,4,medium risk
7728391,3,73.0,73.000000,64.0,29.74,10.0,0.000000,False,True,False,False,4,medium risk
7728392,3,71.0,71.000000,81.0,29.62,10.0,0.000000,False,False,False,False,4,medium risk
7728393,3,79.0,79.000000,47.0,28.63,7.0,0.000000,False,False,False,False,4,medium risk

In [19]:
data.columns

Index(['Time_of_Day', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Precipitation(in)', 'Crossing',
       'Junction', 'Station', 'Traffic_Signal', 'Day', 'Risk'],
      dtype='object')

In [20]:
X_train

,Time_of_Day,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Precipitation(in),Crossing,Junction,Station,Traffic_Signal,Day
4329002,3,68.000000,68.000000,28.000000,28.880000,5.0,0.0,False,False,False,False,4
12817362,3,85.000000,85.000000,48.000000,29.224431,10.0,0.0,False,False,False,False,2
7078930,3,65.000000,65.000000,32.000000,29.520000,10.0,0.0,False,False,False,False,5
4909189,3,77.000000,77.000000,60.000000,29.660000,10.0,0.0,False,False,False,False,2
12045036,2,80.000000,80.000000,24.000000,29.744238,10.0,0.0,False,True,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...
18392455,2,72.942546,72.942546,55.000000,29.480342,10.0,0.0,True,False,False,True,1
14371076,3,69.583442,69.583442,24.583442,27.139987,10.0,0.0,True,False,False,True,1
16944900,2,104.000000,104.000000,9.000000,28.231067,10.0,0.0,False,False,False,True,5
8874210,1,83.000000,83.000000,44.306475,29.893712,10.0,0.0,False,False,False,False,4
16124648,1,74.000000,74.000000,66.000000,29.751910,10.0,0.0,False,False,False,False,1

In [21]:
y_train

4329002     medium risk
12817362       low risk
7078930     medium risk
4909189     medium risk
12045036      high risk
               ...
18392455       low risk
14371076       low risk
16944900       low risk
8874210       high risk
16124648       low risk
Name: Risk, Length: 11082565, dtype: object